includes:
    - vendor/shopwarelabs/phpstan-shopware/rules.neon

parameters:
    level: max
    paths:
        - custom/plugins/SwProductLabel/src
        - custom/plugins/SwProductLabel/tests
    ignoreErrors:
        -
            identifier: shopware.disallow.default.context.creation
            path: custom/plugins/SwProductLabel/tests
